.font-normal {
  font-style: normal;
}
.text-orange-50 {
  color: #fee3d5;
}
.text-orange-100 {
  color: #f4dacc;
}
.text-orange-200 {
  color: #e9b49a;
}
.text-orange-300 {
  color: #df8f67;
}
.text-orange-400 {
  color: #d46935;
}
.text-orange-500 {
  color: #c94402;
}
.text-orange-600 {
  color: #a13602;
}
.text-orange-700 {
  color: #792901;
}
.text-orange-800 {
  color: #501b01;
}
.text-orange-900 {
  color: #280e00;
}
.text-orange-950 {
  color: #140700;
}
